[submodule "elioangels"]
	path = elioangels
	url = git@gitlab.com-elio:elioway/elioangels.git
[submodule "eliothing"]
	path = eliothing
	url = git@gitlab.com-elio:elioway/eliothing.git
[submodule "eliofaithful"]
	path = eliofaithful
	url = git@gitlab.com-elio:elioway/eliofaithful.git
[submodule "eliosin"]
	path = eliosin
	url = git@gitlab.com-elio:elioway/eliosin.git
