nav {
  @include colorize_god($heaven-color, $god-blushed);
  font-size: 1rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 5000;
  a {
    color: white;
    border-bottom: $hell-color solid 0.5px;
    display: inline-block;
    padding: 6px 3px;
    width: 100%;
  }
  label {
    display: block;
    font-size: 80%;
    padding: 6px 3px;
    width: 100%;
  }
  a:visited {
    color: $god-blushed;
  }
  a:hover {
    @include colorize_god(white, black);
  }
  > a:first-child:hover {
    @include colorize_god(inherit, inherit);
  }
  > a:last-child {
    border-bottom: none;
  }
  > a:first-child {
    @include colorize_god(inherit, inherit);
    img {
      @include fixed_height(48px);
      width: auto;
    }
    border-bottom: none;
    color: white;
    padding: 0 0 $personal-space 0;
  }
}
